.contact__options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.contact__options article{
    width: 25%;
    border-radius: 8px;
    background: rgb(40, 40, 40);
    padding: 15px;
}

.contact__options h5{
    font-size: 1rem;
}

svg{
    font-size: 20px;
}

#contact svg{
    font-size: 30px;
}



form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea{
    width: 100%;
    border: transparent;
    border-bottom: 2px solid var(--color-primary);
    padding: 10px;
    background: transparent;
    color: var(--color-white);
    height: 45px;
    margin-bottom: 20px;
}

textarea{
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    height: 100px;
    margin-bottom: 10px;
}