.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    font-size: 15px;
}

.portfolio__item{
    background: var(--color-bg);
    border-radius: 1rem;
    transition: var(--transition);
    margin: auto;
    height: 19rem;
    min-width: 300px;
    font-size: .8rem;
    position: relative;
    overflow-y: hidden;
    border: 2px solid var(--color-light);
    border-radius: 10px;
}

.portfolio__item:hover img{
    transform: scale(1.3);
    transition: 1s;
}

.portfolio__item:hover .portfolio__item__cta{
    background-color: var(--color-bg);
} 

#portfolio img{
    margin-top: 0px;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    border-radius: 8px;
    transition: 1s;
}

.portfolio__item__image{
    border-radius: .2rem;
    overflow: hidden;
    height: 60%;
}

.portfolio__item h3{
     margin: .6rem 0 1.5rem;
     background: var(--color-gradient);
     -webkit-background-clip: text;
     color: transparent;
}

.portfolio__item__cta{
  position:absolute;
  bottom: 0px;  
  width: 100%;
  padding: 10px 12px;
  background: rgba(0, 0, 0, 0.723);
  backdrop-filter: blur(7px);
  border-radius: 8px;
}

@media screen and (max-width:1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width:600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap:1rem
    }
}