@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 
*{
margin: 0;
padding: 0;
border: 0;
outline: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}
:root{
--color-bg:#000000;
--color-bg-variant:#2c2c6c;
--color-primary:#4db5ff;
--color-primary-variant:rgba(77, 181, 255, 0.4);
--color-icon: rgb(80, 255, 207);
--color-gradient: linear-gradient(96.9deg, rgb(80, 255, 207) 10.5%, rgb(22, 185, 255) 74.4%);
--color-white:#fff;
--color-light:rgba(255,255,255, 0.6);
--container-width-lg:75%; /*size of the container we are going to use on different*/
--container-width-md:86%;/*screen size*/
--container-width-sm:90%;
--transition: all 400ms ease;
}
html{
scroll-behavior: smooth;
}
::-webkit-scrollbar{
display:none
}
body {
font-family: 'Poppins', sans-serif;
background: var(--color-bg);
color: var(--color-white);
line-height: 1.7;
}
.container{
width: var(--container-width-lg);
margin:0 auto;
}
h1, h2, h3, h4, h5{
font-weight: 500;
}
h1{
font-size: 2.5rem;
background: var(--color-gradient);
-webkit-background-clip: text;
color: transparent;
}

h2{
 font-size: 1.5rem;
}

h5{
    font-size: 20px;
}

section{
margin-top: 8rem;
}
section > h2,
section > h5{
text-align: center;
color: var(--color-light);
}
section > h2{
margin-bottom: 3rem;
background: var(--color-gradient);
-webkit-background-clip: text;
color: transparent;
}
.text-light{
color: var(--color-light);
}
a{
    background: var(--color-gradient);
    -webkit-background-clip: text;
    color: transparent;
    transition: var(--transition);
}

.icon{
    color: var(--color-icon) ;
}

a:hover{
color: var(--color-white);
}
.btn{
width: max-content;
display: inline-block;
color: var(--color-icon);
padding: .75rem 1.2rem;
cursor: pointer;
border: 1px solid;
border-image: var(--color-gradient) 1;
transition: var(--transition);
line-height: 20px;
}
.btn:hover{
background:var(--color-white);
color: var(--color-bg);
border-color: transparent;
}
.btn-primary{
background: var(--color-gradient);
color: var(--color-bg);
border-radius: .4rem;
border: none;
}
img{
display: block;
width: 125%;
margin-top: -15rem;
margin-left: -25px;
}
@media screen and (max-width:1024px) {
.container{
width: var(--container-width-md);
}
section{
margin-top: 6rem;
}
}
@media screen and (max-width:600px) {
.container{
width: var(--container-width-sm);
}
section > h2{
margin-bottom: 2rem;
}
}

